<%= link_to '/search_pages/show' do %>
	<button type="button" class="btn btn-primary btn-lg search-btn">Start Searching</button>
<% end %>

<div class="call">
	<p>or Call us at</p>
	<p>8722846295</p>	
</div>
<p class="area">Property listing for AECS Layout, Kundanhalli, Brookfield and BEML Layout</p>
<div class="description">
	<div class="row">
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <div class="caption">
			<h3>Rent</h3>
			<p>Rent Individual House/Apartments</p>
		  </div>
		</div>
	  </div>
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <div class="caption">
			<h3>Lease</h3>
			<p>Lease Individual House/Apartments</p>
		  </div>
		</div>
	  </div>
	  <div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		  <div class="caption">
			<h3>Buy</h3>
			<p>Rent Individual House/Apartments/Land</p>
		  </div>
		</div>
	  </div>
	</div>
</div>