// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content {
	margin-top: 50px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;

}