<div class="interested-people-message">
	<%=  "#{@interested_people.count} #{"person".pluralize(@interested_people.count)} #{"is".pluralize(@interested_people.count)} interested in this property" if @interested_people.count > 0 %>	
</div>
