<div id="carousel-example-generic" class="carousel slide" data-interval="false">
		<ol class="carousel-indicators">
      <% @photos.each_with_index do |p, index| %>
   		    <li data-target="#carousel-example-generic" <%= if index==0; "class=\"active\"" end %> ></li>
      <% end %>
   	</ol>

   	<div class="carousel-inner">
   		<% @photos.each_with_index do |p, index| %>
      		<div class="item <%= if index==0; "active" end %>" >
      			<%= image_tag p.photo_url, height: "450px", width: "720px"%>
      		</div>
   		<% end %>
      </div>
	   	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	   		<span class="glyphicon glyphicon-chevron-left"></span>
	   	</a>
	   	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	   		<span class="glyphicon glyphicon-chevron-right"></span>
	   	</a>
	</div>