<div class="page-header">
	<h1><%= PropertyConstraint.get_key_for_value(@property.property_type, PropertyConstraint.property_types) %>
	<small> near <%= @property.address.street_name%>, <%= @property.address.landmark%>, <%= PropertyLocation.find_by(id: @property.property_location_id).area %></small>
	</h1>
</div>