<div class="page-header">
	<h1><%= PropertyConstraint.get_key_for_value(@property.property_type, PropertyConstraint.property_types) %>
	<small> near <%= @address.landmark%>, <%= @location.area %></small>
	</h1>
</div>