<form id="search-cat">

		<div>
			<h3>Price Range</h3>
			<select class="form-control">
			  <option>min-5000</option>
			  <option>5000-10000</option>
			  <option>10000-15000</option>
			  <option>15000-20000</option>
			  <option>20000-25000</option>
			  <option>25000-30000</option>
			  <option>30000+</option>
			</select>
		</div>
		<div>
			<h3>Bedrooms</h3>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> All
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> 1 R
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> 1 RK
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox4" value="option4"> 1 BHK
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox5" value="option5"> 2 BHK
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox6" value="option6"> 3 BHK
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox7" value="option7"> 4 BHK
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox8" value="option8"> 5 BHK
			</label>
		</div><div>
			<h3>Type</h3>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> All
			</label>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> Rent
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Lease
			</label>
		</div>
		<div>
			<h3>Localities</h3>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> AECS Layout
			</label>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" value="option2"> Whitefield
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Brookfield
			</label>
		</div>
		<div>
			<h3>Property Type</h3>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> Appartment/flat
			</label>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" value="option2"> Individual House
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Villas
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Service Appartment
			</label>
		</div>
		<div>
			<h3>Property Type</h3>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox1" value="option1"> Full Furnished
			</label>
			<label class="checkbox-inline">
			<input type="checkbox" id="inlineCheckbox2" value="option2"> Semi Furnished
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> Unfurnished
			</label>
		</div>
		<div>
			<button type="button" class="btn btn-default">Search</button>
		</div>
	</form>