<% if !@database_error.nil? && @database_error.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			The Foam contains <%= pluralize(@database_error.errors.count, "error") %>
		</div>
		<ul>
			<% @database_error.errors.full_messages.each do |e| %>
				<li>* <%= e %></li>
			<% end %>
		</ul>
	</div>
<% end %>