<div id="notifications">
	<div id="active-notifications">
		<ul>
		<% isAnyNotificationActive = false %>
		<% notifications = InterestedPerson.all %>
		<% notifications.each do |notification| %>
		<% @property = Property.find_by(id: notification.property_id) %>
			<% if notification.status == InterestedPeopleConstraint.status_types[:active] %>
			<% isAnyNotificationActive = true %>
			<li>
				<div class="checkbox">
						<label>
						<input type="checkbox" value="">
    						<%="#{notification.phone_number} is interested in "%>
    						<%= link_to @property do %>
    							<%= render 'properties/property_header' %>
    						<% end %>
    						<%= link_to "delete", interested_person_path(notification), method: "delete" %>
    				</label>
				</div>
			</li>
			<% end %>		
		<% end %>
		</ul>
	</div>
</div>